manifest {
    name                                  = 'mtDNA-Server 2'
    version                               = 'v2.1.16'
    description                           = 'mtDNA Variant Calling'
    author                                = 'Sebastian Schönherr, Hansi Weissensteiner, Lukas Forer'
    homePage                              = 'https://github.com/genepi/mtdna-server-2'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {

    project                = null
    output                 = null
    project_date           = "`date`"
    files                  = null    
    reference              = "rcrs"
    mode                   = "fusion"
    detection_limit        = 0.01    
    mapQ                   = 20
    baseQ                  = 20
    alignQ                 = 30
    coverage_estimation    = "on"
    max_samples            = 0
    subsampling            = "off"
    subsampling_coverage   = 2000
    min_mean_coverage      = 50
    min_mean_base_quality  = 10
    mutserve_write_raw     = false
    // Optional accelerated caller. Filtering and fusion remain unchanged.
    mutect2_backend        = 'gatk'
    parabricks_container   = 'nvcr.io/nvidia/clara/clara-parabricks:4.7.1-1'
    parabricks_gpus        = 1
    parabricks_cpus        = 8
    parabricks_memory      = '48 GB'
    parabricks_python      = 'python3'
    parabricks_samtools    = 'samtools'
    // Optional host launcher argv (e.g. a site GPU lease wrapper).
    parabricks_runner      = []
    parabricks_signature   = ''



    service = [
        name: "mtDNA-Server 2",
        url: "https://mitoverse.i-med.ac.at",
        email: "noreply@i-med.ac.at",
        github: "https://github.com/genepi/mtdna-server-2"

    ]

    config = [
        send_mail: false
    ]

    
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

process.container = 'quay.io/genepi/mtdna-server-2:v2.1.16'
docker.enabled = true
singularity.enabled = false

profiles {
    parabricks {
        params.mutect2_backend = 'parabricks'
    }

    debug { process.beforeScript          = 'echo $HOSTNAME' }


        
    development {
        process.container                 = 'genepi/mtdna-server-2'
        docker.enabled                    = true
        resume                            = true
        singularity.enabled               = false
    }

    docker {
        docker.enabled                    = true
        singularity.enabled               = false
    }

    singularity {
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    
    slurm {
        process.executor                  = 'slurm'
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    

   test      {
        includeConfig 'conf/test.config'
   }
   
}
